body {
  font-family: 'Mairyo UI', sans-serif;
  margin: 0;
  padding: 0;
  color: #222222;
  background: #fafff0;
  margin: 0 auto;
  width: 1000px;
}

#form {
  margin-left: 20px;
  /*border-top-style: double;
  border-bottom: double; */
}

#title{
  border-bottom: 7px groove #bbdd77;
  padding-left: 5px;
  padding-bottom: 5px;
}

#sub_title {
  font-weight: bold;
  color: #555555;
  margin-left: 10px;
}

#in_form {
  float: none;;
  margin-left: 30px;
  line-height: 25px;
}

.font_tables{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
