body {
    margin-right: auto;
    margin-left: auto;
    width: 1080px;
    height: auto;
    background: linear-gradient(115deg, rgba(20, 0, 30, 0), rgba(255, 230, 230, 0.5)),
                url(../file/back5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top,center,bottom;
    background-attachment: fixed;
    /*animation: back 50s ease infinite;*/
}

/*@keyframes back {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}*/

#body {
    font-family: 'SimHei', monospace, 'Meiryo UI';
    color: #222222;
    background-color: #fafff0;
    opacity: 0.98;
    margin: 0px 20px;
    padding: 20px 20px;
    border-top: solid #aaaaaa 2px;
    border-bottom: solid #aaaaaa 2px;
    border-left: solid #aaaaaa 5px;
    border-right: solid #aaaaaa 5px;
    border-radius: 15px 15px;
}

.form {
    margin-left: 20px;
    padding-bottom: 10px;
    /*border-top-style: double;
    border-bottom: double; */
    border-top: 1px dotted #DDDDDD;
}

#color_paint {
    background-color: #fff9f5;
    border-style: outset;
    border-width: thick;
}

#title {
    text-align: center;
    border-bottom: 8px groove #bbdd77;
    padding-left: 5px;
    padding-bottom: 5px;
}

.sub_title {
    float: left;
    width: 400px;
    font-size: 18px;
    font-weight: bold;
    color: #555555;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 15px;
    white-space: nowrap;
}

.cns {
    white-space: nowrap;
    font-weight: normal;
    border-radius: 5px / 5px;
    background-color: #ee6666;
    padding: 2px;
    margin-left: 3px;
    color: #ffffff;
    font-size: 10px;
}

.desc {
    margin-left: 12px;
    font-size : 13px;
    color: #333333;
    font-weight: normal;
}

.in_form {
    float: left;
    width: 500px;
    margin-top: 6px;
    margin-left: 30px;
    margin-bottom: 10px;
    line-height: 25px;
}

.messeages {
    border-top: double 3px;
    border-bottom: double 3px;
    border-color: #99aa55;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 5px;
}

.error_msg {
    color: #cc3333;
    margin: 10px;
    border-left: dotted #779933 2px;
    padding: 5px;
    list-style-type: circle;
    padding-left: 10px;

}

.error_submsg {
    color: #cc3333;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

.form:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.to_float {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

textarea {
    resize: vertical;
    max-height: 500px;
}

.button{
    text-align: center;
}
input[type="submit"] {
    background: rgba(230, 230, 230, 0.5);
    padding: 10px 50px;
    border-style: groove;
}

 #textarea_put {
     display: table;
 }
/*.font_tables{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}*/
