body {
    font-family: 'SimHei', monospace, 'Meiryo UI';
    margin: 0;
    padding: 0;
    color: #222222;
    background: #fafff0;
    margin: 0px 20px;
    padding: 20px 20px;
    border-left: solid #aaaaaa 5px;
    border-right: solid #aaaaaa 5px;
    width: auto;
}

#body {

}

.form {
    margin-left: 20px;
    margin-bottom: 15px;
    /*border-top-style: double;
    border-bottom: double; */
    border-top: 1px dotted #DDDDDD;
}

#title{
    border-bottom: 8px groove #bbdd77;
    padding-left: 5px;
    padding-bottom: 5px;
}

.sub_title {
    float: left;
    width: 500px;
    font-size: 18px;
    font-weight: bold;
    color: #555555;
    margin-left: 10px;
    margin-bottom: 15px;
    white-space: nowrap;
}

.cns {
    white-space: nowrap;
    font-weight: normal;
    border-radius: 5px / 5px;
    background-color: #ee6666;
    padding: 2px;
    margin-left: 3px;
    color: #ffffff;
    font-size: 10px;
}

.desc {
    margin-left: 12px;
    font-size : 13px;
    color: #333333;
    font-weight: normal;
}

.in_form {
    float: left;
    width: 400px;
    margin-top: 6px;
    margin-left: 30px;
    margin-bottom: 10px;
    line-height: 25px;
}

.messeages {
    border-top: double 3px;
    border-bottom: double 3px;
    border-color: #99aa55;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 5px;
}

#error_msg {
    color: #cc3333;
    margin: 10px;
    border-left: dotted #779933 2px;
    padding: 5px;
    padding-left: 10px;
}

.form:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.to_float {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*.font_tables{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}*/
